// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000000;
$value-color:       #fff;

$pass-color:        #8fb347;
$fail-color:        #ad3b0e;
$else-color:        #9CB4F4;

$title-color:       #eb9c3c;
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-pull-requests styles
// ----------------------------------------------------------------------------
.widget-pull-requests {

  background-color: $background-color;
  vertical-align: top;

  .header {
    color: $label-color;
  }

  span {
    font-size: 12px;
  }

  .title {
    font-size: 30px;
    font-weight: 500;
    color: $title-color;
  }

  .pull_info {
    line-height: 60%;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 20px;
  }

  .list {
    list-style: none;
  }

  .pull {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 18px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  .icon.icon-github {
    font-size: 58px;
    height: 58px;
    width: 66px;
  }


}
