<% content_for :title do %>GitHub PR Requests<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="github_feed" data-view="GithubFeed" data-title="Github News Feed"></div>
    <li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-view="PullRequests" data-id="prs"></div>
    </li>
  </ul>
</div>
